
<%- include('templates/header')-%>
<h1>Register</h1>
<br>

<div>
    <form method="POST" action="/register">
        <div class="mb-3">
            <label for="name" class="form-label">Nama</label>
            <input type="text" class="form-control" name="name" id="name"  placeholder="nama ">
          </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" name="email" id="email"  placeholder="email">
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username"  placeholder="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password"  placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
</div>

<%- include('templates/footer') -%>

